
html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Roboto-Light, serif;
}

.header{
    border-bottom: 1px solid #929597;
    background-color: #D3D7DA;

}

#rooms{
    width: 100%;
    /*table-layout: fixed;*/
}

#rooms td{
    padding: 2px 5px;
    font-size: 10px;
}
#rooms td > span{
    width: 20px;
    height: 15px;
    display: inline-block;
    vertical-align: middle;
}

#img-container {
    /*JЧЕНЬ ВАЖНО НЕ УДАЛЯЙ АБСОЛЮТНУЮ ПОЗИЦИЮ VK ТУПИТ*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#img-container #img-construct {
    /*transition: all 0.3s ease-out;*/
}

#paths {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/map-paths.png');
    z-index: 50;
    filter: brightness(0.4);
}

.tablo {
    position: absolute;
    z-index: 1000;
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-color: #fff;
    border: 3px solid #494949;
}

.top {
    z-index: 100 !important;
}

.free-table {
    position: absolute;
    /* border: 4px solid rgba(51, 200, 51, 0.81); */
    /* border-radius: 5px; */
    /*background-color: blue;*/
    z-index: 10;
}

.free-table > div {
    position: relative;
    width: 100%;
    height: 100%;
}

.free-table .room-text {
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    width: 100%;
    height: 100%;
    text-align: center;
}

.bg-pattern {
    /*background: url(/img/pattern-gray.png);*/
    background-color: #D3D7DA;
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}

[class*="icono"] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    color: #79d44c;
    box-sizing: border-box;
    animation: colorchange 2s infinite; /* animation-name followed by duration in seconds*/
    /* you could also use milliseconds (ms) or something like 2.5s */
    -webkit-animation: colorchange 2s infinite;
}

[class*="icono"]:after,
[class*="icono"]:before {
    content: "";
    box-sizing: border-box;
}

[class*="icono-arrow1"] {
    width: 20px;
    height: 20px;
    border-width: 4px 4px 0 0;
    border-style: solid;
    margin: 15px;
}

[class*="icono-arrow1"]:before {
    right: 0;
    top: -3px;
    position: absolute;
    height: 4px;
    box-shadow: inset 0 0 0 32px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    width: 23px;
    -webkit-transform-origin: right top;
    transform-origin: right top;
}

[class*="icono-arrow1"][class*="-left"] {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

[class*="icono-arrow1"][class*="-left"][class*="-up"] {
    -webkit-transform: none;
    transform: none;
}

[class*="icono-arrow1"][class*="-left"][class*="-down"] {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
}

[class*="icono-arrow1"][class*="-right"] {
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}

[class*="icono-arrow1"][class*="-right"][class*="-up"] {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

[class*="icono-arrow1"][class*="-right"][class*="-down"] {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

[class*="icono-arrow1"][class*="-up"] {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

[class*="icono-arrow1"][class*="-down"] {
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
}

@keyframes colorchange {
    0% {
        color: green;
    }
    50% {
        color: #79d44c;
    }
    100% {
        color: green;
    }
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
    0% {
        color: green;
    }
    50% {
        color: #79d44c;
    }
    100% {
        color: green;
    }
}

#modal-wrapper {
    display: none;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
}

.modal{
    width: 100%;
    max-width: 900px;
    height: 100%;
    background-color: #fff;
}

