
html,
body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    font-family: Roboto-Light, serif;
}

#img-container {
    /*JЧЕНЬ ВАЖНО НЕ УДАЛЯЙ АБСОЛЮТНУЮ ПОЗИЦИЮ VK ТУПИТ*/
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
}

#img-container #img-construct {
    /*transition: all 0.3s ease-out;*/
}

#paths{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('../img/map-paths.png');
}

.free-table {
    position: absolute;
    /* border: 4px solid rgba(51, 200, 51, 0.81); */
    /* border-radius: 5px; */
    /*background-color: blue;*/
    z-index: 100;
}

.free-table > div{
    position: relative;
    width: 100%;
    height: 100%;
}

.free-table .room-text{
    position: absolute;
    font-size: 20px;
    top: calc(50% - 10px);
    width: 100%;
    height: 100%;
    text-align: center;
}

.bg-pattern {
    /*background: url(/img/pattern-gray.png);*/
    background-color: #D3D7DA;
    /*-webkit-background-size: cover;*/
    /*background-size: cover;*/
}